body
{
    margin:0px auto;
    padding:0px;
    text-align:center;
    width:100%;
    font-family: "Myriad Pro","Helvetica Neue",Helvetica,Arial,Sans-Serif;
    background-color:#c2ccd6;
}
#header 
{
    width:100%;
    margin:0px auto;
    padding:0px;
    text-align:center;
    height:70px;
    line-height:70px;
}
#header h1
{
    text-align: center;
    color:#1e252c;
    font-weight:bold;
    cursor:pointer;
}
#header #site_name
{
    text-align:left;
    width:680px;
    font-size:35px;
    margin-left:20px;
}
#home,#about,#contact
{
    margin-top:100px;
    width:90%;
    height:400px auto;
    margin-left:5%;
    padding:50px;
    box-sizing:border-box;
    background-color:#677d92;
    border-radius:10px;
    color:white;
}
#footer 
{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #677d92;
    color: white;
    text-align: center;
  }

/* #home h1
{
    font-size:40px;
}
#home p
{
    font-size:20px;
}
#about p
{
    font-size:20px;
}
#contact input[type="text"]
{
    width:250px;
    height:35px;
    padding-left:10px;
    float:left;
    margin-left:80px;
    border:none;
}
#contact textarea
{
    float:left;
    width:250px;
    height:35px;
    margin-left:20px;
    border:none;
    padding-left:10px;
    padding-top:10px;
}
#contact input[type="submit"]
{
    float:left;
    margin-left:20px;
    height:35px;
    width:100px;
    background:none;
    color:white;
    border:1px solid white;
} */

.dropbtn {
    background-color: #3498DB;
    color: white;
    padding: 28px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  .dropbtn:hover, .dropbtn:focus {
    background-color: #2980B9;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown a:hover {background-color: #ddd;}
  
  .show {display: block;}